<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PIN check</title>
  <!-- import web components -->
  <script type="module" src="/app/static/web-components/index.js" defer></script>

  <!-- import context from server -->
  <script defer>
    const TRANSLATIONS = JSON.parse('{{ translations | tojson }}');

    document.addEventListener("selectLanguage", (event) => {
      const pinCheckFormElement = document.querySelector("pin-check-form");
      pinCheckFormElement.setAttribute("lang", event.detail.lang);
      event.stopPropagation();
    });
  </script>
</head>

<body>
  <top-bar lang="{{ default_language }}"></top-bar>
  <pin-check-form lang="{{ default_language }}"></pin-check-form>
</body>

</html>
